<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet / WebView -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Vibração -->
    <uses-permission android:name="android.permission.VIBRATE"/>




    <application
        android:theme="@style/Theme.App"
        android:label="✅️Mulher Amparada"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true">



<!-- Tela principal -->
<activity
    android:name=".MainActivity"
    android:screenOrientation="portrait"
    android:exported="true"
    android:autoVerify="true">

    <intent-filter>

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

    </intent-filter>

    <intent-filter>

        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.HOME" />
        <category android:name="android.intent.category.DEFAULT" />

    </intent-filter>

</activity>

        <!-- Serviço de detecção de palmas -->


        <!-- Outras telas caso existam -->
        <activity
           android:screenOrientation="portrait" android:name=".FileActivity"
            android:exported="false"/>

  <activity
    android:name=".EscolherIconeActivity"
android:screenOrientation="portrait"
    android:exported="false" />

<activity-alias
    android:name=".IconeOriginal"
    android:targetActivity=".MainActivity"
    android:icon="@mipmap/ic_launcher"
    android:label="✅️Mulher Amparada"
    android:enabled="true"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

</activity-alias>

<activity-alias
    android:name=".Icone1"
    android:targetActivity=".MainActivity"
    android:icon="@drawable/icon1"
    android:label="✅️Mulher Amparada"
    android:enabled="false"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

</activity-alias>

<activity-alias
    android:name=".Icone2"
    android:targetActivity=".MainActivity"
    android:icon="@drawable/icon2"
    android:label="✅️Mulher Amparada"
    android:enabled="false"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

</activity-alias>

<activity-alias
    android:name=".Icone3"
    android:targetActivity=".MainActivity"
    android:icon="@drawable/icon3"
    android:label="Calculadora"
    android:enabled="false"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

  

</activity-alias>

        <activity
            android:name=".GravarActivity"
           android:screenOrientation="portrait" android:exported="false"/>



<provider
    android:name="androidx.core.content.FileProvider"
    android:authorities="${applicationId}.provider"
    android:exported="false"
    android:grantUriPermissions="true">

    <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths"/>
</provider>



    </application>

</manifest>