<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet / WebView -->
    <uses-permission android:name="android.permission.INTERNET"/>

    
    <application
        android:theme="@style/Theme.App"
        android:label="✅️Mulher Amparada"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true">


        <!-- Tela principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

<intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.HOME"/>
        <category android:name="android.intent.category.DEFAULT"/>
    </intent-filter>

        </activity>


        <!-- Serviço de detecção de palmas -->
        <service
            android:name=".PalmaService"
            android:exported="false"
            android:foregroundServiceType="microphone"/>


        <!-- Administrador do dispositivo -->
        <receiver
            android:name=".MyDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>

        </receiver>


        <!-- Outras telas caso existam -->
        <activity
            android:name=".FileActivity"
            android:exported="false"/>

  <activity
    android:name=".EscolherIconeActivity"
    android:exported="false" />

<activity-alias
    android:name=".IconeOriginal"
    android:targetActivity=".MainActivity"
    android:icon="@mipmap/ic_launcher"
    android:label="✅️Mulher Amparada"
    android:enabled="true"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

</activity-alias>

<activity-alias
    android:name=".Icone1"
    android:targetActivity=".MainActivity"
    android:icon="@drawable/icon1"
    android:label="✅️Mulher Amparada"
    android:enabled="false"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

</activity-alias>

<activity-alias
    android:name=".Icone2"
    android:targetActivity=".MainActivity"
    android:icon="@drawable/icon2"
    android:label="✅️Mulher Amparada"
    android:enabled="false"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

</activity-alias>

<activity-alias
    android:name=".Icone3"
    android:targetActivity=".MainActivity"
    android:icon="@drawable/icon3"
    android:label="✅️Mulher Amparada"
    android:enabled="false"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

  

</activity-alias>

        <activity
            android:name=".GravarActivity"
            android:exported="false"/>



<provider
    android:name="androidx.core.content.FileProvider"
    android:authorities="${applicationId}.provider"
    android:exported="false"
    android:grantUriPermissions="true">

    <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths"/>
</provider>

<service
    android:name=".AbrirAppTile"
    android:label="Abrir app do mulher amparada"
    android:icon="@drawable/icone_tile"
    android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
    android:exported="true">

    <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
    </intent-filter>

</service>

    </application>

</manifest>